  
   
  
    <p>Beer_Name: <%= order.beer_name %><br>
        Description: <%= order.description %><br>
        Quantity: <%= order.quantity %><br><br>
        
        <% if order.company %> 
            Company: <%= order.company.company_name%>
        <% end %><br>
         ----------------------------------------
    </p>