<br>
<br>
<% if @order %>
    <h1><%= @order.beer_name %></h1>
<% else %> 
    <h1>All Orders</h1>
<% end %> 
<%= render partial: "order", collection: @orders, as: :o %>
<br>


<% if @order %>
    <%= link_to "New order", new_company_order_path %>
<% else %>
    <%= link_to "New order", new_order_path %>
<% end %>