<!--<div class="container">
<br>
<h1>Edit companies list</h1>
<%= render partial: 'form', locals: { company: @company } %>
</div>
   <%= render partial: "form" %>-->
  <h1>Companies#edit</h1>

<%= render partial: "form" %> 