<h1>companies#index</h1>




<% @companies.each do |company| %>
    <%= company.company_name %><br>
    <% company.orders.each do |order| %><br>
        <li><%= order.beer_name %> - <%= order.description %>- <%= order.quantity %> </li>
    <% end %>
<% end %>












